.home-main {
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
}
.aside-menu-wrapper {
    width: 20%;
    box-sizing: border-box;
}
.home-main img {
    width: 100px;
}
.home-main .name {
    font-size: 20px;
}
.home-main .username {
    font-weight: 600;
}